<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <h1>TODO List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form class="form-inline" action="" method=""> <!--action=/tasks and method=POST-->
        <div class="input-group w-100">
          <input required type="text" name="description" placeholder="I have to..." class="form-control" id="taskDescription">
          <div class="input-group-append">
            <input type="button" value="Add" class="btn btn-primary" onclick="saveTask();">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="tasksList">
      {{#each tasks}}
      <div id="card{{id}}" class="card my-3 {{#eq status 'done' }}bg-light{{/eq}}">
        <div class="card-body">
          <p id="task{{id}}" class="card-text">{{ description }}</p>
          <form>
            <a id="delete{{id}}" href="javascript:;" class="text-danger" onclick="deleteTask({{id}});">Delete</a>
          </form>
          {{#eq status 'pending'}}
          <form>
            <!--<input type="hidden" name="id" value="{{ id }}">-->
            <a id="done{{id}}" href="javascript:;" class="card-link" onclick="doneTask({{id}});">Done</a>
          </form>
          {{/eq}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>
